@import url('https://fonts.googleapis.com/css?family=Rubik');

.container {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 75px 1fr 1fr 1fr 75px;
    grid-gap: 1px;
}

.grid-cell {
    background: #1F1C1B;
    padding: 0 1em;
}

.wood-grain-left {
    grid-column: 1;
    grid-row: 1 / 4;
		background-color: #6c2505;
	  background-size: 40px 160px, 60px 29px, 27px 27px;
	  background-image: linear-gradient(94deg, rgba(91, 33, 5, 0.1) 0%, rgba(83, 29, 4, 0.32) 23%, rgba(74, 24, 3, 0.41) 47%, rgba(80, 27, 5, 0.44) 70%, rgba(81, 27, 5, 0.59) 74%, rgba(93, 33, 4, 0.2) 83%, rgba(115, 43, 3, 0.5) 100%), linear-gradient(90deg, #541c09 50%, transparent 50%), linear-gradient(90deg, #7a2e00 50%, #632401 50%);
}
.wood-grain-right {
    grid-column: 5 ;
    grid-row: 1 / 4;
		background-color: #6c2505;
	  background-size: 40px 160px, 60px 29px, 27px 27px;
	  background-image: linear-gradient(94deg, rgba(91, 33, 5, 0.1) 0%, rgba(83, 29, 4, 0.32) 23%, rgba(74, 24, 3, 0.41) 47%, rgba(80, 27, 5, 0.44) 70%, rgba(81, 27, 5, 0.59) 74%, rgba(93, 33, 4, 0.2) 83%, rgba(115, 43, 3, 0.5) 100%), linear-gradient(90deg, #541c09 50%, transparent 50%), linear-gradient(90deg, #7a2e00 50%, #632401 50%);
}
.center-header {
    grid-column: 2 / 5;
    grid-row: 1 ;
}
.center-analyser {
    grid-column: 2 / 5;
    grid-row: 2;
}

.left-column {
    grid-column: 2;
    grid-row: 3;
}

.middle-column {
    grid-column: 3;
    grid-row: 3;
    overflow-y:scroll;
}

.right-column {
    grid-column: 4;
    grid-row: 3;
}
