@import url('https://fonts.googleapis.com/css?family=Rubik');

.container {
	font-family: 'Rubik', sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 64px 1fr 1fr 1fr 64px;
	grid-column-gap: 1px;
}

.grid-cell {
	background: #1F1C1B;
	padding: 0 1em;
}

.middle-column {
	overflow-y:scroll;
}

div.controller > div {
  margin: 0 auto;
  margin-top: 0.75em;
  padding: 0;
}
