@import url('https://fonts.googleapis.com/css?family=Rubik');

.container {
	background: #1F1C1B;
	font-family: 'Rubik', sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 4px;
}

.grid-cell {
	flex: 1;
}

.middle-column {
	overflow-y:scroll;
}
