.account {
  display: inline-flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.modal {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.signup {
  padding: 2em;
}

.modal-input {
  appearance: none;
}
