.account {
  display: inline-flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.modal {
  margin-left: 0;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  background: #000;
  color: #fff
}

.signup {
  padding: 2em;
}
