header {
  background: #1F1C1B;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.knetic-font {
  margin: 1em 0 1em 0;
  padding: 0 1em 0 1em;
  height: 2em;
}
