
/*.switch-input {
  visibility: hidden;
  clip: rect(0 0 0 0);
}

.switch {
  width: 30px;
  height: 20px;
  background: #1F1C1B;
  background: -webkit-linear-gradient(left, #1F1C1B 0%, #33302F 29%, #33302F 34%, #474544 62%, #5C5959 68%, #5C5959 74%, #474544 100%);
  transition: all 0.2s ease-out;
  cursor: pointer;
  border-radius: 0.35em;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.7), inset 0 2px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 1px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.15);
}

.switch:before {
  z-index: -2;
  border-radius: 0.4em;
  background: #1F1C1B;
  background: linear-gradient(#1F1C1B, #33302F);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 8px 2px rgba(0, 0, 0, 0.2), 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.switch:after {
  position: absolute;
  border-radius: 50%;
  background: #DB2B39;
  z-index: -1;
}

.switch-input:checked ~ .switch {
  background: #1F1C1B;
  background: -webkit-linear-gradient(left, #474544 0%, #5C5959 26%, #5C5959 32%, #474544 38%, #33302F 66%, #33302F 71%, #1F1C1B 100%);
}

.switch-input:checked ~ .switch:after {
  background: #94E4C2;
  box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.7), inset 0 -2px 2px rgba(0, 0, 0, 0.2);
}*/
